{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["standard-with-typescript", "eslint-config-prettier"],
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/dom"]
    }
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],

  "rules": {
    "space-before-function-paren": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/class-literal-property-style": 0,
    "@typescript-eslint/no-misused-promises": 0
  }
}
